@charset "utf-8";



@media screen and (min-width:923px){
/*header*/
#header{position: relative;}
#header.main{height: 1950px;}
#header_top{
	width: 1260px;height: 50px;position: absolute;_background-color:skyblue;
	left:50%;transform:translateX(-50%);top:30px;z-index:1
}
#header_top h1{float: left;line-height:50px;padding-left:10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{float: right;}
#main_menu>ul>li{float: left;width: 180px;text-align: center;}
#main_menu>ul>li:hover .sub_menu{display: block;}
#main_menu>ul>li .sub_menu{display: none;background-color: rgba(0,0,0,0.5);}
#main_menu>ul>li .sub_menu a{font-size: 15px;}
#main_menu a{display: block;line-height:50px;padding:0 30px;color:white;font-weight:bold;font-size: 20px;}
#main_menu a:after{
	content:"";display:block;width:0;height: 3px;
	background:#00a651;transition:0.3s;margin:0 auto; color:#d5d5d5;}
#main_menu a:hover:after{width: 100%;}
#header_top .toggleMenu{display: none;}



/*bxslider*/
.slider_wrap ul li{height: 1005px;}
.slider_wrap li.first{
	background:url(../images/main_02.png) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/main_01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap .slider_txt{
	width: 700px;position: absolute;
	left:50%;transform:translateX(-50%);top:30%;color:white;text-align: center;
}
.slider_wrap h3{font-size:3.5em;text-shadow:0 0 10px #000}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 1px;
	background: #fff;margin:20px auto;
}


.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-pager{bottom: 350px;}

/*content*/
#header .content{
	width: 1260px;height: 1260px;position: absolute;
	left:50%;transform: translateX(-50%);background-color: #fff;bottom:0;}

		.content>ul>li{float: left;width: 25%;height: 315px;_border: 1px solid #000;padding: 20px;}
		
		/*.content>ul>li:nth-child(2n){background:skyblue;}*/
		.content>ul>li:nth-child(1),
		.content>ul>li:nth-child(9){background:#ac6b43;}
		.content>ul>li:nth-child(2){background-image: url(../images/content_01.jpg);}
		.content>ul>li:nth-child(3),
		.content>ul>li:nth-child(6){background:#675347;}
		.content>ul>li:nth-child(4),
		.content>ul>li:nth-child(5),
		.content>ul>li:nth-child(10){background:#e8cfbf;}
		.content>ul>li:nth-child(7){background-image: url(../images/content_02.jpg);width: 50%;}
		.content>ul>li:nth-child(8){background-image: url(../images/content_03.jpg);height: 630px;}
		.content>ul>li:nth-child(11){background:#6d5634;}
		.content>ul>li:nth-child(12){width: 50%;background-image: url(../images/content_04.jpg);}
		.content>ul>li:nth-child(9){width: 50%;}


		.content>ul>li:nth-child(1):hover,
		.content>ul>li:nth-child(9):hover{background: #8c5736;}

		.content>ul>li:nth-child(3):hover,
		.content>ul>li:nth-child(6):hover{background: #493b32;}

		.content>ul>li:nth-child(4):hover,
		.content>ul>li:nth-child(5):hover,
		.content>ul>li:nth-child(10):hover{background: #c4aea0;}

		.content>ul>li:nth-child(11):hover{background: #534228}

		.content>ul>li>a{display: block;height: 315px;color: white; font-weight: bold;font-size: 2em;position: relative}
		.content>ul>li>a>img{position: absolute;top: 50%;left: 50%;transform: translate(-50% ,-50%);}
		.content>ul>li:nth-child(2):hover,
		.content>ul>li:nth-child(7):hover,
		.content>ul>li:nth-child(12):hover{background-position: center ;background-size: 120%;transition: 1s }

		#visual{
			width: 100%;height: 730px;top: 2035px;background-attachment: fixed;
			position: absolute;background-image: url(../images/main_mv_bg.jpg);
			background-repeat: no-repeat;background-position: center;background-size: cover
		}
		#visual .visual_img{width: 1260px;margin: 0 auto;position: relative;}



		.visual_img #txt{left: 0;top: 50px;transition:0.2s;}
		.visual_img #dk1{left: 30px;transition:1s;}
		.visual_img #dk2{right: 30px;transition:2s;}
		.visual_img #dk3{top: 30px;right: 350px;transition:2.5s;}

		.visual_img #txt, .visual_img #dk1, .visual_img #dk2, .visual_img #dk3{
			top: 100px;
			position: absolute;
			opacity:0;
		}
		
		.visual_img #txt.move{left:0;opacity:1;}
		.visual_img #dk1.move{left:300px;opacity:1;}
		.visual_img #dk2.move{right: 200px;opacity: 1;}
		.visual_img #dk3.move{top: 250px;opacity: 1;}


	.sns_review{top: 2845px;position: absolute;width: 100%;height: 315px;}
	.sns_review>ul{width: 1260px;height: 315px;margin: 0 auto;}
	.sns_review>ul>li{width: 25%;height: 315px;float: left;}
	.sns_review>ul>li:nth-child(1){background-color: #222;}
	.sns_review>ul>li:nth-child(2){background-image: url(../images/review_01.jpg);}
	.sns_review>ul>li:nth-child(3){background-color: #5a9a2e;}
	.sns_review>ul>li:nth-child(4){background-image: url(../images/review_02.jpg);}
	.sns_review>ul>li>a{position: relative;}
	.sns_review>ul>li>a>img{position: absolute;top: 50%;left: 50%;transform: translate(-50% ,-50%);}
	#footer{height: 200px;width: 100%;top: 3275px;position: absolute;border-top: 1px solid #000;}



} /*pc layout*/



@media screen and (min-width:577px) and (max-width:922px) {
/*header*/
#header{position: relative;}
#header.main{}
#header_top{padding:0 20px;
	width: 100%;height: 50px;position: absolute;_background-color:skyblue;
	left:50%;transform:translateX(-50%);top:30px;z-index:1
}
#header_top h1{float: left;line-height:50px;padding-left:10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{display: none;}

#header_top .toggleMenu{
	float: right;
	width: 50px;height: 50px;position: relative;
	cursor:pointer;z-index:1;display: block;
}
.toggleMenu div{
	width: 35px;height: 5px;background: #fff;
	position: absolute;border-radius:3px;left:7px;
}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

/*bxslider*/
.slider_wrap ul li{height: 500px;}
.slider_wrap li.first{
	background:url(../images/main_02.png) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/main_01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap .slider_txt{
	width: 700px;position: absolute;
	left:50%;transform:translateX(-50%);top:30%;color:white;text-align: center;

}
.slider_wrap h3{font-size:2em;text-shadow:0 0 10px #000}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 1px;
	background: #fff;margin:20px auto;
}


.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-pager{bottom:50px;}

/*content*/
#header .content{
	width: 100%;background-color: #fff;}

		.content>ul>li{float: left;width: 50%;height: 315px;border: 1px solid #000;}
		
		.content>ul>li:nth-child(1){background:#ac6b43;}
		.content>ul>li:nth-child(2){background-image: url(../images/content_01.jpg);background-size: cover;}
		.content>ul>li:nth-child(3){background:#675347;}
		.content>ul>li:nth-child(4){background:#e8cfbf;}

		.content>ul>li:nth-child(5),
		.content>ul>li:nth-child(6),
		.content>ul>li:nth-child(7),
		.content>ul>li:nth-child(8),
		.content>ul>li:nth-child(9),
		.content>ul>li:nth-child(10),
		.content>ul>li:nth-child(11),
		.content>ul>li:nth-child(12){display: none;}

		.content>ul>li>a{position: relative;display: block;height: 100%;color: white; font-weight: bold;font-size: 2em;}
		.content>ul>li>a>img{position: absolute;top: 50%;left: 50%;transform: translate(-50% ,-50%);}




		


} /*tablet layout*/



@media screen and (max-width:576px) {
/*header*/
#header{position: relative;}
#header.main{}
#header_top{padding:0 20px;
	width: 100%;height: 50px;position: absolute;_background-color:skyblue;
	left:50%;transform:translateX(-50%);top:30px;z-index:1
}
#header_top h1{float: left;line-height:50px;padding-left:10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{display: none;}

#header_top .toggleMenu{
	float: right;
	width: 50px;height: 50px;position: relative;
	cursor:pointer;z-index:1;display: block;
}
.toggleMenu div{
	width: 35px;height: 5px;background: #fff;
	position: absolute;border-radius:3px;left:7px;
}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

/*bxslider*/
.slider_wrap ul li{height: 400px;}
.slider_wrap li.first{
	background:url(../images/main_02.png) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/main_01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap .slider_txt{
	width: 100%;position: relative;
	top:30%;color:white;text-align: center;

}
.slider_wrap h3{font-size:2em;text-shadow:0 0 10px #000}


.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-pager{bottom:50px;}

/*content*/
#header .content{
	width: 100%;background-color: #fff;}

		.content>ul>li{float: left;width: 100%;height: 200px;border: 1px solid #000;}

		.content>ul>li:nth-child(1){background:#ac6b43;}
		.content>ul>li:nth-child(2){background-image: url(../images/content_01.jpg);background-size: cover;background-position:center;}
		.content>ul>li:nth-child(3){background:#675347;}
		.content>ul>li:nth-child(4){background:#e8cfbf;}

		.content>ul>li:nth-child(5),
		.content>ul>li:nth-child(6),
		.content>ul>li:nth-child(7),
		.content>ul>li:nth-child(8),
		.content>ul>li:nth-child(9),
		.content>ul>li:nth-child(10),
		.content>ul>li:nth-child(11),
		.content>ul>li:nth-child(12){display: none;}

		.content>ul>li>a{position: relative;display: block;height: 100%;color: white; font-weight: bold;font-size: 2em;}
		.content>ul>li>a>img{position: absolute;top: 50%;left: 50%;transform: translate(-50% ,-50%);}



 /*mobile layout*/