@charset "utf-8";



@media screen and (min-width:923px){
/*header*/
#header{position: relative;}
#header.main{height: 1950px;}
#header_top{
	width: 1260px;height: 50px;position: absolute;_background-color:skyblue;
	left:50%;transform:translateX(-50%);top:30px;z-index:1
}
#header_top h1{float: left;line-height:50px;padding-left:10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{float: right;}
#main_menu>ul>li{float: left;width: 220px;text-align: center;}
#main_menu>ul>li:hover .sub_menu{display: block;}
#main_menu>ul>li .sub_menu{display: none;}
#main_menu a{display: block;line-height:50px;padding:0 30px;color:white;font-weight:bold;}
#main_menu a:after{
	content:"";display:block;width:0;height: 2px;
	background:#00a651;transition:0.3s;margin:0 auto; color:#d5d5d5;}
#main_menu a:hover:after{width: 100%;}
#header_top .toggleMenu{display: none;}



/*bxslider*/
.slider_wrap ul li{height: 1005px;}
.slider_wrap li.first{
	background:url(../images/main_01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/main_02.png) no-repeat center;
	background-size:cover;
}
.slider_wrap .slider_txt{
	width: 700px;position: absolute;
	left:50%;transform:translateX(-50%);top:30%;color:white;text-align: center;
}
.slider_wrap h3{font-size:3.5em;text-shadow:0 0 10px #000}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 1px;
	background: #fff;margin:20px auto;
}


.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-pager{bottom: 350px;}

/*content*/
#header .content{
	width: 1260px;height: 1260px;position: absolute;
	left:50%;transform: translateX(-50%);background-color: #fff;bottom:0;}

		.content>ul>li{float: left;width: 25%;height: 315px;border: 1px solid #000;padding: 20px;}
		.content>ul>li>a{display: block;height: 315px;color: white; font-weight: bold;font-size: 2em;}
		/*.content>ul>li:nth-child(2n){background:skyblue;}*/
		.content>ul>li:nth-child(1){background:#ac6b43;background-image: url(../images/icon_01.png);}
		.content>ul>li:nth-child(2){}
		.content>ul>li:nth-child(3){background:#675347;background-image: url(../images/icon_02.png);}
		.content>ul>li:nth-child(4){background:#e8cfbf;background-image: url(../images/icon_03.png);}
		.content>ul>li:nth-child(5){background:#e8cfbf;background-image: url(../images/icon_04.png);}
		.content>ul>li:nth-child(6){background:#675347;background-image: url(../images/icon_05.png);}
		.content>ul>li:nth-child(7){width: 50%;}
		.content>ul>li:nth-child(8){height: 630px;background-image: url(../images/icon_06.png);}
		.content>ul>li:nth-child(9){width: 50%;background:#ac6b43;background-image: url(../images/icon_07.png);}
		.content>ul>li:nth-child(10){background:#e8cfbf;background-image: url(../images/icon_08.png);}
		.content>ul>li:nth-child(11){background:#6d5634;background-image: url(../images/icon_09.png);}
		.content>ul>li:nth-child(12){width: 50%;}

		.content>ul>li:nth-child(1),
		.content>ul>li:nth-child(3),
		.content>ul>li:nth-child(4),
		.content>ul>li:nth-child(5),
		.content>ul>li:nth-child(6),
		.content>ul>li:nth-child(8),
		.content>ul>li:nth-child(9),
		.content>ul>li:nth-child(10),
		.content>ul>li:nth-child(11){
			background-repeat: no-repeat; background-size: 150px;
			background-position: 50% 65%;}

		#visual{
			width: 100%;height: 730px;top: 2035px;background-attachment: fixed;
			position: absolute;background-image: url(../images/main_mv_bg.jpg);
			background-repeat: no-repeat;background-position: center;background-size: cover
		}
		#visual .visual_img{width: 1260px;margin: 0 auto;}

	.sns_review{top: 2845px;position: absolute;width: 100%;height: 315px;}
	.sns_review>ul{width: 1260px;height: 315px;margin: 0 auto;}
	.sns_review>ul>li{width: 25%;height: 315px;float: left;}
	.sns_review>ul>li:nth-child(1){background-color: #222;}
	.sns_review>ul>li:nth-child(2){background-image: url(../images/review_01.jpg);}
	.sns_review>ul>li:nth-child(3){background-color: #5a9a2e;}
	.sns_review>ul>li:nth-child(4){background-image: url(../images/review_02.jpg);}
	#footer{height: 200px;width: 100%;top: 3275px;position: absolute;border-top: 1px solid #000;}
} /*pc layout*/



@media screen and (min-width:577px) and (max-width:922px) {
/*header*/
#header{position: relative;}
#header.main{}
#header_top{padding:0 20px;
	width: 100%;height: 50px;position: absolute;_background-color:skyblue;
	left:50%;transform:translateX(-50%);top:30px;z-index:1
}
#header_top h1{float: left;line-height:50px;padding-left:10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{display: none;}

#header_top .toggleMenu{
	float: right;
	width: 50px;height: 50px;position: relative;
	cursor:pointer;z-index:1;display: block;
}
.toggleMenu div{
	width: 35px;height: 5px;background: #fff;
	position: absolute;border-radius:3px;left:7px;
}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

/*bxslider*/
.slider_wrap ul li{height: 500px;}
.slider_wrap li.first{
	background:url(../images/main_01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/mainimg02.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap .slider_txt{
	width: 700px;position: absolute;
	left:50%;transform:translateX(-50%);top:30%;color:white;text-align: center;

}
.slider_wrap h3{font-size:2em;text-shadow:0 0 10px #000}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 1px;
	background: #fff;margin:20px auto;
}


.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-pager{bottom:50px;}

/*content*/
#header .content{
	width: 100%;background-color: #fff;}

		.content>ul>li{float: left;width: 50%;height: 315px;border: 1px solid #000;}
		.content>ul>li:nth-child(2n){background:skyblue;}

		.content>ul>li:nth-child(5),
		.content>ul>li:nth-child(6),
		.content>ul>li:nth-child(7),
		.content>ul>li:nth-child(8),
		.content>ul>li:nth-child(9),
		.content>ul>li:nth-child(10),
		.content>ul>li:nth-child(11),
		.content>ul>li:nth-child(12){display: none;}



} /*tablet layout*/



@media screen and (max-width:576px) {
/*header*/
#header{position: relative;}
#header.main{}
#header_top{padding:0 20px;
	width: 100%;height: 50px;position: absolute;_background-color:skyblue;
	left:50%;transform:translateX(-50%);top:30px;z-index:1
}
#header_top h1{float: left;line-height:50px;padding-left:10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{display: none;}

#header_top .toggleMenu{
	float: right;
	width: 50px;height: 50px;position: relative;
	cursor:pointer;z-index:1;display: block;
}
.toggleMenu div{
	width: 35px;height: 5px;background: #fff;
	position: absolute;border-radius:3px;left:7px;
}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

/*bxslider*/
.slider_wrap ul li{height: 400px;}
.slider_wrap li.first{
	background:url(../images/main_01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/mainimg02.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap .slider_txt{
	width: 100%;position: relative;
	top:30%;color:white;text-align: center;

}
.slider_wrap h3{font-size:2em;text-shadow:0 0 10px #000}


.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-pager{bottom:50px;}

/*content*/
#header .content{
	width: 100%;background-color: #fff;}

		.content>ul>li{float: left;width: 100%;height: 200px;border: 1px solid #000;}
		.content>ul>li:nth-child(2n){background:skyblue;}

		.content>ul>li:nth-child(5),
		.content>ul>li:nth-child(6),
		.content>ul>li:nth-child(7),
		.content>ul>li:nth-child(8),
		.content>ul>li:nth-child(9),
		.content>ul>li:nth-child(10),
		.content>ul>li:nth-child(11),
		.content>ul>li:nth-child(12){display: none;}



} /*mobile layout*/