@charset "utf-8";
/*header*/

header#header{width: 100%;height: 160px;background: #0044af;}
header#header .top{width: 1200px;height: 40px;margin: 0 auto;}
header#header .top .topLeft{width: 364px;float: left;}
header#header .top .topLeft a{
	display: block;height: 40px;width: 120px;
	background: #00163b;float: left;text-align:
	center;line-height: 40px; color:#fff; margin-right: 2px;
}
header#header .top .topLeft li:nth-child(1) a{background-color: #fff;color: black}
header#header .top .topLeft li:nth-child(2) a{}
header#header .top .topLeft li:nth-child(3) a{margin-right: -2px;}

header#header .top .topRight{width: 300px;height: 40px;float: right;}
header#header .top .topRight li{}
header#header .top .topRight a{
	display: block;
	float: left;font-size: 10px;
	text-align: center;line-height: 40px;color: #fff;
}
header#header .top .topRight li:nth-child(1){
	width: 50px;margin-left: 7px;float: left;color: #fff;font-size: 10px;
	text-align: center;line-height: 40px;}
header#header .top .topRight li:nth-child(2) a{
	background-image: url(../images/minus.jpg);
	text-indent:-9999px;background-repeat: no-repeat;
	width: 16px;margin: 12px 2px 12px 7px;}
header#header .top .topRight li:nth-child(3) a{
	background-image: url(../images/plus.jpg);
	text-indent:-9999px;background-repeat: no-repeat;
	width: 16px;margin: 12px 7px 12px 0;} 
header#header .top .topRight li:nth-child(4) a{width: 79px;}
header#header .top .topRight li:nth-child(5) a{
	width: 54px;margin-left: 3px;margin-right: 4px; }
header#header .top .topRight li:nth-child(6) a{width: 45px;}


header#header .menubar{width: 100%;height: 120px;background: #fff;}
header#header .menubar .bottom{width: 1200px;height: 120px;margin: 0 auto;}
header#header .menubar .bottom h1{
	width: 211px;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;float: left;
}
header#header .bottom h1 a{
	display: block;line-height:120px;
	text-indent:-9999px;
}
header#header .bottom .menu{
	float: left;margin-left: 180px;font-size: 18px;font-weight: bold;}
header#header .bottom .menu li{float: left;}
header#header .bottom .menu li a{
	line-height: 120px;display: block;float: left;width: 138px;text-align: center;}
/*header#header .bottom .menu li a:hover{background: #385f88;color: #fff}*/
header#header .bottom .icon{float: right;margin: 35px 0;}
header#header .bottom .icon a{
	background-repeat: no-repeat;float: left;
	text-indent: -9999px;width: 45px;height: 45px;}
header#header .bottom .icon a:nth-child(1){background-image: url(../images/icon01.jpg);}
header#header .bottom .icon a:nth-child(2){background-image: url(../images/icon02.jpg);}
/*contents*/
#contents{
	height: 1300px;
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat,no-repeat;
	background-position:center;
	background-size:auto,cover;
	}
#contents .title{
	width: 1200px;height: 260px;_background:#aaa;
	margin:auto;
}
#contents .title .leftTxt{color: #fff;}
#contents .title .leftTxt h3{}
#contents .title .leftTxt h2{}


#contents .container{width: 1200px;margin: 0 auto;}
#contents .container li{
	float: left;width: 25%;height: 225px;
}
#contents .container li:nth-child(1){background: red;width: 75%;height: 450px;}
#contents .container li:nth-child(2){background: orange;height: 450px;}
#contents .container li:nth-child(3){background: #00163b;}
#contents .container li:nth-child(4){background: #1651b7;}
#contents .container li:nth-child(5){background: #fff;}
#contents .container li:nth-child(6){background: blue;}
#contents .container li:nth-child(7){background: purple;}
#contents .container li:nth-child(8){background: pink;width: 75%;}

/*slider*/

.viewSlider{}
.viewSlider .sliderTxt{
	position: absolute;left: 80px;
	top: 80px;font-size: 3em;color: #1651b7
}
.viewSlider .sliderTxt p{margin-bottom: 30px;}
.viewSlider .sliderTxt a{
	display: block;width: 160px;
	line-height: 40px;font-size:initial;
	text-align: center;
	background-color: #192d4e;
	color: white
}
.bnSlider .bSliderTxt{position: absolute;left: 60px;
	top: 30px;font-size: 2em;color: #ff3f20
}
.bnSlider .bSliderTxt p{}
.bnSlider .bSliderTxt .ymd{font-size: 1.4em;margin-bottom: 15px;font-weight: bold;}
.bnSlider .bSliderTxt a{
	display: block;width: 160px;
	line-height: 40px;font-size:initial;
	text-align: center;
	background-color: #ff3f20;
	color: white
}

.bx-wrapper{
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow: none;
	border: 0 none;
	margin-bottom: 0;	
}

.bx-wrapper .bx-pager {
    text-align: right;}


.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100%;
}

.boxTwo{position: relative;}
.boxTwo .boxTwoTxt{font-size: 2.2em;color: white}
.boxTwo .boxTwoTxt .bTTT, .boxTwo .boxTwoTxt .bTTB, .boxTwo .boxTwoTxt a{position: absolute;left: 30px;}
.boxTwo .boxTwoTxt .bTTT{margin-bottom: 13px;font-weight: bold;line-height: 45px;top: 80px;}
.boxTwo .boxTwoTxt .bTTB{font-size:16px;margin-bottom: 50px;line-height: 25px;top: 230px;}
.boxTwo .boxTwoTxt a{position: absolute;
	display: block;width: 168px;
	background-color: rgba(0,0,0,0.5);
	line-height: 40px;text-align: center;
	border: 1px solid #fff;color: white;font-size: initial;top: 345px;
}

.boxThree{color:white;}
.boxThree .boxThreeTxt{}
.boxThree h2{padding: 20px;margin-bottom: 10px;}
.boxThree .boxTT{width: 300px;margin: 0 auto;text-align: center;}
.boxThree .linkOne{width: 100px;float: left;}
.boxThree .linkTwo{width: 100px;float: left;}
.boxThree .linkThree{width: 100px;float: left;}
.boxThree .link a{}
.boxThree .linkOne p, .boxThree .linkTwo p, .boxThree .linkTree p{font-size: 10px;}


.boxFour{color: white;}
.boxFour h2{width: 260px;margin: 0 auto;border-bottom: 2px solid white;line-height: 60px;margin-bottom: 10px;margin-top: 15px;}
.boxFour .boxFourTxt{line-height: 30px;display: block;font-size: 14px;} 
.boxFour .boxFourTxt .fourTxt a{height: 30px;display: block;width: 300px; float: left;color: white}
.boxFour .boxFourTxt .fourTxt a p{color: white;line-height: 30px;}
.boxFour .boxFourTxt .fourTxt .firstP{float: left;width: 180px;margin-left: 20px;}
.boxFour .boxFourTxt .fourTxt .lastP{float: right;width: 75px;margin-right: 25px;}


.boxFive{width: 300px;height: 225px;}
.boxFive h2{margin: 20px;font-weight: bold;}
.boxFive .boxFiveTxt{float: left;}
.boxFive img{float: left; margin: 0 22px}
.boxFive p{float: left;font-size: 14px;margin-bottom: 30px;}
.boxFive .snsLogo{margin-right: 12px;}
.boxFive .snsLogo a{float: right;width: 30px;height: 30px; text-indent: -9999px;margin: 3px;}
.boxFive .snsLogo a:nth-child(1){background-image: url(../images/box5_lg1.png); }
.boxFive .snsLogo a:nth-child(2){background-image: url(../images/box5_lg2.png); }
.boxFive .snsLogo a:nth-child(3){background-image: url(../images/box5_lg3.png); }
.boxFive .snsLogo a:nth-child(4){background-image: url(../images/box5_lg4.png); }


.boxSix{position: relative;width: 300px;height: 225px;}
.boxSix img{position: absolute;width: 300px;height: 225px;}
.boxSix .sixTxt{position: absolute;}
.boxSix a{
	display: block;position: absolute
	;top: 173px;width: 300px;height: 52px;
	background-color: rgba(0,0,0,0.5);
	color: white; text-align: center;
	line-height: 52px; font-weight: bold; font-size: 18px;
}

.boxSeven{position: relative;width: 300px;height: 225px;}
.boxSeven img{position: absolute;width: 300px;height: 225px;}
.boxSeven .sevenPlay{position: absolute;}
.boxSeven a{
	display: block;position: absolute;
	width: 62px;height: 62px;background-color: rgba(0,0,0,0.5);
	color: white; text-align: center;
	line-height: 60px; font-size:30px;
	left: 119px; top: 81.5px;border-radius: 40px;
}

/*footer*/
footer#footer{
	height: 200px;
}